.toolbar-titulo {
  padding-left: 13px;
  flex: 1 auto;
}

.toolbar-titulo-meio {
  flex: 1 auto;
}

.toolbar-titulo-direita {
  //   justify-content: right;
}

.link-pagina-inicial {
  cursor: pointer;
}
