.radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.radio-button {
  margin: 5px;
}

.full-width {
  width: 100%;
}
.class-bold {
  font-weight: bold;
}
.descricao-header-projeto {
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
}
