<h2>Categorias</h2>

<mat-accordion>
    <div *ngFor="let cat of categorias; let i=index">
        <mat-expansion-panel (opened)="getProjetosIdCategoria(cat)">

            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{cat.descricao}}
                </mat-panel-title>
                <!-- <mat-panel-description>
                    Descrição
                </mat-panel-description> -->
            </mat-expansion-panel-header>

            <mat-radio-group aria-labelledby="example-radio-group-label" class="radio-group"
                [(ngModel)]="projetoVotado">
                <div *ngIf="projetos">

                    <mat-accordion>
                        <div *ngFor="let proj of projetos; let o=index">
                            <mat-expansion-panel (opened)="getProjetoId(proj)">

                                <mat-expansion-panel-header>
                                    <mat-panel-title>

                                        <mat-radio-button class="radio-button" [value]="proj">
                                        </mat-radio-button>
                                        <div [ngClass]="{'class-bold': o==1 }"> {{proj.nome}}</div>
                                    </mat-panel-title>
                                    <div *ngIf="o==1">
                                        <mat-panel-description>
                                            <b>Voto do Relator - Fulano de Tal</b>
                                        </mat-panel-description>
                                    </div>
                                </mat-expansion-panel-header>

                                <mat-form-field class="full-width">
                                    <textarea matInput placeholder="Faça um comentário sobre esse projeto"></textarea>
                                </mat-form-field>

                            </mat-expansion-panel>
                        </div>
                    </mat-accordion>


                </div>
            </mat-radio-group>


        </mat-expansion-panel>


    </div>
</mat-accordion>